.btn-primary {
	background-color: #568db3!important;
}

.navbar-brand img {
	max-height: 80px;
}


/*COMMON*/

@font-face {
  font-family: mmarc;
  src: url(/assets/fonts/mmarc.otf);
}
@font-face {
  font-family: mmarc;
  src: url(/assets/fonts/mmarc-bold.woff);
  font-weight: bold;
}

body {
  font-family: mmarc;
}

.pointer {
	cursor: pointer;
}
label {
	color: #568db3;
}
@media only screen and (max-width: 768px) {
	.label-form {
		width: 100%;
		padding-top: 0;
		padding-bottom: 5px;
	}
}
.form-control {
	border: 1px solid #568db3;
}
.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 2;
}
.iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags@2x.png");}
}
.select2 {
	width: 100%;
}
.select2-dropdown {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
/*COMMON*/


/*ACCOUNT*/
.account-heading {
	color: #568db3;
	text-align: center;
	margin-bottom: 2vh;
}
.account-container {
	width: 75%;
	margin: auto;
	margin-top: 4vh;
	margin-bottom: 4vh;
	border-radius: 5px;
	border: 2px solid #568db3;
	padding: 20px;
}
@media only screen and (max-width: 768px) {
  .account-container {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
  }
}

/*ACCOUNT*/



/*HOME PAGE BOOKS*/
.book-home-page-list-img {
	height: 200px;
	width: 100px;
	object-fit: cover;
}
.book-home-page-list-wrapper {
	position: relative;
}
.book-home-page-list-star {
	font-size: 24px!important;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: all .3s ease;
	-moz-transition:       all .3s ease;
	-o-transition:          all .3s ease;
	transition:                 all .3s ease;
}
.book-home-page-list-star.rotated {
	-webkit-transform: rotate(15deg);
	-moz-transform:      rotate(15deg);
	-ms-transform:        rotate(15deg);
	-o-transform:          rotate(15deg);
	transform:               rotate(15deg);
}
/*HOME PAGE BOOKS*/